body {
	background-color: black;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

canvas {
	background-color: white;
	image-rendering: pixelated;
	cursor: crosshair;
}

.color-selector {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	cursor: pointer;
	border: 1px solid black;
}

#black {
	background-color: black;
}

#red {
	background-color: red;
}

#blue {
	background-color: blue;
}

@media only screen and (max-width: 600px) {
	canvas {
		width: 90%;
		max-width: none;
	}
	.color-selector {
		width: 15px;
		height: 15px;
		margin-right: 3px;
	}
}